*
{
  box-sizing: border-box;
}
:root{
  --primary-color: #edf2fc;
  --secondary-color:#212121;
}
.dark-theme
{
  --primary-color: #212121;
  --secondary-color:#edf2fc;
}
body {
  margin-left: 250px;
  
}

.container
{
  margin-top: 40px;
  display: flex;
}
.trending
{
  height: 40px;
  width: 130px;
  border: 1px solid black;
  margin-left: 280px;
  padding: 10px;
  color: rgb(226, 78, 78);
  text-decoration: none;
}
.newsletter, .dashboard
{
  font-size: large;
  padding: 10px;
  margin-left: 40px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
#icon
{
  margin-left: 40px;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.sign
{
  font-size: large;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
button{
  
  background-color: orangered;
  margin-left: 40px;
  height: 40px;
  width: 100px;
}
/* first container finished */

.social-media
{
  position:absolute;
  top:150px;
  font-size:600%;
  width: 550px;
  margin-bottom: 0px;
}
.neymar
{
  position: relative;
  left: 700px;
  top:150px;
}
.track
{
  margin-top: 0px;
  opacity: 1px;
  font-size: xx-large;
  width: 600px;
  margin-top: 0px;
  font-weight: bold;
}
.Example-dashboard
{
  border: 1px solid skyblue;
  border-color: skyblue;
  border-radius: 50px;
  padding:10px;
  text-decoration: none;
  background-color: skyblue;
  color:white;
  font-size: x-large;
}
/* container1 is finished */
.conatiner2
{
  margin-top:200px;
  
  margin-left: 26%;
 
}

.star-container
{
  margin-top: 30px;
  margin-left: 70px;
  
}
.loved
{
  font-size: 18px;
  width: 500px;
  font-weight: bold;
  
}
 
/* container 2 is finished */
.container3
{
  margin-top: 150px;
  
  margin-left: 0px;
}
.going-viral
{
  margin-left: 26%;
  font-family: pacifico;
  font-size: xxx-large;
  color:orangered
}
.join
{
  font-size: x-large;
  margin-left: 10%;
}
.email
{
  height: 40px;
  margin-left: 28%;
  margin-right: 0px;
  
}
.subscribe
{
  height: 40px;
  
  margin-left: 0px;
}
/* container3 is finished */

.container4
{
  margin-top: 100px;
  margin-left:0px ;
}
.social-media1
{ 
  margin-left: 180px;
text-align: center;
}

/* container4 is finished */

.container5
{
 
}
.concert1,.concert2
{
  
  position:relative;
  top:100px;
  margin-top: 10px;
  left:550px;
  width:700px;
}
.steroids
{
  width: 300px;
  position: absolute;
  left: 200px;
  top:1900px;
  font-size: 100px;
  background-color: orangered;
}
.unlimited
{
  margin-top: 0px;
  opacity: 1px;
  font-size: xx-large;
  width: 600px;
  margin-top: 0px;
  font-weight: bold;
}
.public-dashboard
{
  text-decoration: none;
  color: skyblue;
  font-size: xx-large;
  font-weight: bold;
}
/* container 5 is finishded */
.container6
{
  position: relative;
}
.dog-video
{
  position: relative; 
  margin-top: 100px;
}

.AI 
{
  position:absolute;
  left: 500PX;
  font-family: pacifico;
  font-size: 74px;
  top: 60PX;
  width: 600px;
  background-color: orangered;

}
.power
{
  position:absolute;
  left: 500PX;
  top:450px;
  font-size: xx-large;
}
.power:active{
  text-decoration-color: orangered;
}
.get
{
  position: absolute;
  top:500px;
  left:500px ;
  width: 700px;
  font-size: xx-large
}
.customers
{
  position: absolute;
  top:650px;
  left:500px ;
  font-size: xx-large;
  color:skyblue;
}
.growing
{
  margin-top: 140px;
  margin-left: 200px;
  font-size: xxx-large;
}

.container7{
  margin-top: 200px;
}
.starter
{
  width: 100px;
  display: inline-block;
  border: 1px solid black;
  height: 400px;
  width: 300px;
  background-color: rgb(179, 235, 235);
}
.pro
{
  display: inline-block;
  border: 1px solid black;
  height: 250px;
  width: 300px;
  margin-left: 150px;
  background-color: rgb(179, 235, 235);
}
.studio
{
  background-color: rgb(179, 235, 235);
  display: inline-block;
  border: 1px solid black;
  height: 400px;
  width: 300px;
  margin-left: 150px;
}
.get-started
{
  border-color: rgb(214, 139, 196);
  background-color: rgb(214, 139, 196);
}
ul.
 {
  list-style-type: circle;
}
footer
{
  
  margin-top: 100px;
}
.foot
{
  margin-left: 50px;
  padding-left: 100px;
  display: inline-block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
